#NEXT_PUBLIC_STRAPI_API_URL=http://0.0.0.0:1337/graphql
NEXT_PUBLIC_STRAPI_API_URL=https://ghost-cms-app-8rv8n.ondigitalocean.app/graphql

# =============================================
# Public variables (exposed on the frontend) - useElven Example
# =============================================

# MultiversX chain (can be devnet, testnet, mainnet)
NEXT_PUBLIC_MULTIVERSX_CHAIN = mainnet

# Wallet Connect 2 Project Id. This one will work only with this project
# Get yours at: https://cloud.walletconnect.com/sign-in
NEXT_PUBLIC_WC_PROJECT_ID = 817e89e8d971404e1dcf312b97dc3f35

# =============================================
# Public variables for the demo only
# =============================================

# The wallet address used for the demo EGLD transaction on the devnet
NEXT_PUBLIC_TRANSFER_ADDRESS = erd17a4wydhhd6t3hhssvcp9g23ppn7lgkk4g2tww3eqzx4mlq95dukss0g50f

# =============================================
# Public variables (exposed on the frontend) - GhostVerse Example
# =============================================
NEXT_PUBLIC_NFT_SMART_CONTRACT = erd1qqqqqqqqqqqqqpgqw763s7ea3jksp6gr98kmj6psehtu3flndswsswu7hk
