@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Predefined colors for 'category' label in blog, enum list for Strapi */
.blog_text_c_orange {
  @apply text-[#ff9300];
}

.blog_text_c_green {
  @apply text-[#00c873];
}

.blog_text_c_purple {
  @apply text-[#ae006f];
}

/* Blog reusable style components */
.blog_shadow {
  @apply shadow-[6px_7px_21px_rgba(0,0,0,0.20)];
}

.blog_button {
  @apply inline-flex items-center w-max border-0 transition-all duration-200 no-underline
  bg-[#154aea] text-colr-d-fg gap-[0.555rem] p-[0.555rem_1.111rem] font-semibold rounded-full;
}

/* styles/global.css */
@font-face {
  font-family: 'MyCustomFont';
  src:
    url('/fonts/my-custom-font.woff2') format('woff2'),
    url('/fonts/my-custom-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
